.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: #212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.title h2{
    margin-top: 5px;
    color: #000F38;
    font-size: 32px;
    text-transform: none;
}